<h4>City Name: <%= @city.name %></h4>

<h3>City Trains</h3>

<% if @city.train_id %>
  <ul>
    <% @city.train_id.each do |train| %>
      <li><a href="/cities/<%= @city.id %>/trains/<%= train.id %>"><%= train.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no trains listed for this city yet.</p>
<% end %>

<h4>Add a train:</h4>

<form action="/cities/<%= @city.id %>/trains" method="post">
<div class="form-group">
  <label for="train_name">Train name</label>
  <input id="train_name" name="train_name" class="form-control" type="text">
</div>
<button type="submit" class="btn">Add train</button>
</form>

  <p><a href="/cities/<%= @city.id %>/edit">Edit City</a></p>
  <a href="/cities">Return to City List</a>
